$brandone: #B60B31;
$brandtwo: #0B3954;

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

.bgone {
  background: $brandone;
}

.bgtwo {
  background: $brandtwo;
}

.white {
  color: white;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button.white-outline {
  border: 3px solid white;
  color: white;
  transition: .25s all ease-in-out;
  text-decoration: none;

  &:hover {
    background: white;
    color: $brandone;
    text-decoration: none;
  }
}

.button.brandone-outline {
  border: 3px solid $brandone;
  color: $brandone;
  transition: .25s all ease-in-out;
  text-decoration: none;

  &:hover {
    background: $brandone;
    color: white;
    text-decoration: none;
  }
}

.whiteline {
  width: 50%;
  height: 3px;
  background: white;
  margin: 10px 0;
}

.blackline-100 {
  width: 100%;
  height: 3px;
  background: black;
  margin: 10px 0;
}

.gridl {
  max-width: 1400px;
  margin: 0 auto;
  display: block;
  padding: 0 30px;
}