/* Responsiveness stylings go here */
@media (max-width: 640px) {
  .routes {
    border-left: none !important;

    .uk-section {
      .uk-grid {
        .left {
          border-right: none !important;
        }
      }
    }
  }

  .single-box {
    a {
      .container {
        padding-left: 0;

        .uk-grid {
          padding: 10px 15px;

          .image {
            img {
              width: 100%;
              height: auto;
            }
          }

          .left-container {

          }

          .right-container {
            text-align: left;

            .grade {
              margin-bottom: 5px;
            }

            .comments {
              text-align: left;
              float: left;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .routes {
    .uk-section {
      .uk-grid {
        > .left,
        > .right {
          padding: 20px !important;
        }
      }
    }
  }

  .single-box {
    padding-left: 0;

    a {
      .container {
        padding-left: 0;

        .uk-grid {
          padding: 10px 15px;
          padding

          .left-container {
            h2 {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .single-box {
    a {
      .container {
        padding-left: 0;

        .uk-grid {
          padding: 10px 15px;

          .left-container {
            h2 {
              font-size: 24px;
            }
          }

          .right-container {
            .grade {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 881px) {
  .header {
    .offcanv-toggle {
      display: none;
    }
  }
}
@media (max-width: 880px) {
  .header {
    .uk-navbar-right {
      display: none;
    }

    .offcanv-toggle {
      display: block;
      position: absolute;
      top: 25px;
      right: 30px;
      text-align: center;

      > a {
        display: block;
        padding: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        
        img {
          width: auto;
          height: 25px;
        }
      }
    }
  }
  .uk-open {
    z-index: 10000;
    > .uk-offcanvas-bar {
      background: #1D1D1D;
      display: block;
      border-right: 6px solid #3C62D4;
      box-shadow: 0 14px 14px rgba(0, 0, 0, 0.45);

      .uk-grid {
        >div {
          h2 {
            font-size: 36px;
            line-height: 30px;
          }
        }
      }

      .menu {
        padding: 25px 0;

        ul {
          list-style-type: none;
          padding-left: 0;

          li {
            padding: 10px;
            margin: 5px 0;
            .oc-bt {
              color: white;
              font-weight: bold;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}