@import '../../../assets/scss/general';

input[type="file"] {
    display: none;
}

.file-black {
	color: black;
}

.image-upload {
    label {
        background: $brandthree;
        color: white;
        padding: 6px 12px;
        border-radius: 15px;
        font-weight: bold;
        letter-spacing: 0.6px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    }
}