@import '../../assets/scss/general';

.login-form {
  border-top: 6px solid $brandone;
  position: fixed;
  top: 50%;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.55);
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    margin-bottom: 30px;
  }

  form {
    input[type=text] {
      display: block;
      margin: 10px auto;
      box-shadow: none;
      padding: 10px 20px;
      border: 3px solid $brandone;
      border-radius: 5px;
    }

    input[type=submit] {
      display: block;
      padding: 10px 20px;
      border: 3px solid $brandone;
      border-radius: 5px;
      background: white;
      font-weight: bolder;
      letter-spacing: 0.5px;
      transition: .25s all ease-in-out;
      margin-top: 25px;

      &:hover {
        background: $brandone;
        color: white;
        cursor: pointer;
      }
    }
  }
}