@import '../../../assets/scss/general';
.add-route-page {
  background: $brandone;
  width: 100%;
  min-height: 95vh;
  padding: 40px 0;
}
.add-form {
  border-top: 6px solid $brandthree;
  border-radius: 8px;
  background: $brandtwo;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  min-width: 40%;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.55);

  h2,
  h3 {
    color: white;
  }

  h3 {
    margin: 15px 0;
  }
  

  form {
    input[type="text"] {
      display: block;
      margin: 10px auto;
      box-shadow: none;
      width: 90%;
      padding: 10px 5%;
      border: 3px solid $brandthree;
      border-radius: 5px;
      background: $brandtwo;
      font-size: 18px;
      letter-spacing: 0.25px;
      color: white;

      &::placeholder {
        color: #fff;
        letter-spacing: 0.25px;
        font-size: 18px;
      }
    }
  
    input[type="submit"] {
      display: block;
      padding: 10px 20px;
      border: 3px solid $brandthree;
      border-radius: 5px;
      background: $brandthree;
      font-size: 18px;
      color: white;
      font-weight: bolder;
      letter-spacing: 0.5px;
      transition: 0.25s all ease-in-out;
      margin-top: 25px;
  
      &:hover {
        background: $brandone;
        color: white;
        cursor: pointer;
      }
    }
    h3 {
      margin-bottom: 5px;
      margin-top: 10px;
    }
    p {
      margin-top: 5px;
      margin-bottom: 10px;
      color: white;
      font-weight: 500;
    }

    .moves-selector {
      border-radius: 5px;
    }
    .bodypart-selector,
    .move-selector {
      width: 45%;
      margin: 0 auto;
      display: inline-block;
      border-radius: 5px;
    }

    .betaForm-container {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      
      .moves-selector {
        border: 3px solid $brandone;
        border-radius: 5px;
      }

      .bodypart-selector,
      .move-selector {
        width: 45%;
        margin: 0 auto;
        display: inline-block;
      }
    }
  }
}
