@import '../../../assets/scss/general';

.profile-container {
  background: #f7f7f7;
  min-height: 90vh;

  .routes {
    border-left: 6px solid $brandthree;

    .uk-section {
      padding-top: 0;

      h1 {
        padding-left: 20px;
        margin-bottom: 0;
      }

      .uk-grid {
        margin-left: 0;

        .left {
          border-right: 6px solid $brandtwo;
          padding: 40px;
        }

        .right {
          padding: 40px;
        }
      }
    }
  }

  .profile {
    padding: 0 30px;
    position: sticky;

    .uk-section {
      position: sticky;

      img.avatar {
        border: 3px solid white;
        margin-bottom: 20px;
        border-radius: 7px;
      }

      h2 {
        margin-bottom: 2px;
      }

      h3 {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      p {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
  }
}

@media (max-width: 959px) {
  .profile {
    .whiteline {
      margin: 0 auto;
    }
  }
}

@media (max-width: 639px) {
  .routes {
    .uk-section {
      h1 {
        padding-left: 0;
      }
    }
  }
}