@import '../../../assets/scss/general';

.profile-container {
  background: #f7f7f7;
  min-height: 90vh;

  .routes {
    background-color: #f7f7f7;
    padding: 0 30px;
    border-left: 6px solid $brandone;
    
    .uk-section {
      h1 {
        padding-left: 20px;
        margin-bottom: 30px;
      }
    }
  }

  .profile {
    padding: 0 30px;

    .uk-section {
      img.avatar {
        border-radius: 15px;
        border: 3px solid white;
      }

      h2 {
        margin-bottom: 2px;
      }

      h3 {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      p {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
  }
}

@media (max-width: 959px) {
  .profile {
    .whiteline {
      margin: 0 auto;
    }
  }
}

@media (max-width: 639px) {
  .routes {
    .uk-section {
      h1 {
        padding-left: 0;
      }
    }
  }
}