@import '../../../assets/scss/general';

.register-page-container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../assets/images/registerbg.png);
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
}

.overlay {
  position: relative;

  &:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.35);
  }
}

.login-form {
  border-top: 6px solid $brandthree;
  border-radius: 8px;
  background: $brandone;
  position: fixed;
  top: 50%;
  width: 30%;
  padding: 30px 40px;
  box-shadow: 0 0 14px rgba(0,0,0,0.85);
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    margin-bottom: 0;
    color: white;
  }

  p {
    color: white;
    margin-top: 2px;
    margin-bottom: 20px;
  }

  form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      display: block;
      width: 90%;
      margin: 10px auto;
      box-shadow: none;
      background: $brandone !important;
      padding: 15px 20px;
      border: 2px solid white;
      background: white;
      border-radius: 5px;
      color: #f4f4f4;
      font-weight: bold;
      letter-spacing: 0.25px;
      font-size: 18px;

      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus, 
      &:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 30px $brandone inset !important;
          -webkit-text-fill-color: #f4f4f4;
          font-weight: bold;
          letter-spacing: 0.25px;
          font-size: 18px;

      }

      &::placeholder {
        color: #f4f4f4;
        letter-spacing: 0.25px;
        font-size: 18px;
      }

      &:invalid,
      &:valid {
        background: white;
      }
    }

    input[type="submit"] {
      display: block;
      padding: 10px 20px;
      border-radius: 5px;
      background: $brandthree;
      color: white;
      font-weight: bolder;
      font-size: 18px;
      letter-spacing: 0.75px;
      transition: .25s all ease-in-out;
      margin-top: 15px;
      box-shadow: 0 0 4px rgba(0,0,0,0.25);
      transition: 0.45s all ease-in-out;

      &:hover {
        transform: scale(1.005);
        box-shadow: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}