@import '../../../assets/scss/general';

.single-route-page {
  .uk-section {
    .gridl {
      .single-route {
        border-top: 6px solid $brandone;
        background: white;
        position: fixed;
        top: 50%;
        padding: 30px 40px;
        box-shadow: 0 0 10px rgba(0,0,0,0.55);
        left: 50%;
        transform: translate(-50%, -50%);

        .uk-grid {
          .uk-width-1-1 {
            padding: 10px;
            
            &.data {
              h2 {
                margin-bottom: 5px;
              }

              h4 {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}